{% extends 'base.html' %}
{% load static %}
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}">
  <title>Home</title>
  </head>
{% block content %}
<h1>Homepage</h1>

<h2>Lorem ipsum dolor sit amet</h2>
<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras id lectus finibus, ultrices nulla a, viverra nisi. Curabitur ac elementum est, a porttitor velit. Fusce non nulla et est finibus maximus. Integer sit amet libero fermentum, pulvinar felis quis, sollicitudin libero. Vivamus lobortis leo sed ornare commodo. Vestibulum suscipit dictum sem eu pulvinar. Suspendisse maximus eu turpis a malesuada.

Maecenas tempus ut arcu et pulvinar. Cras laoreet ac sapien et bibendum. Pellentesque dolor massa, varius sit amet ultrices quis, laoreet et dui. Maecenas aliquet mauris a rutrum condimentum. Integer porta maximus imperdiet. Morbi sagittis dapibus ante, pellentesque vestibulum turpis dictum sit amet. Curabitur fermentum metus diam, ut vulputate diam placerat eu. In urna quam, auctor quis tellus ac, semper congue eros. </p>
<br><hr><br>
<h2>Ut quis placerat nunc</h2>
  <p> Ut quis placerat nunc. Sed sollicitudin tellus sed metus cursus, quis tempor lectus aliquet. Maecenas tempus quam at faucibus lobortis. Mauris diam velit, vehicula vel congue at, gravida sed massa. Cras viverra purus eros, a pharetra arcu vestibulum in. Vestibulum in blandit tellus. Ut nec varius leo. Sed quis orci sagittis sapien vehicula viverra id sit amet nunc. Nam vitae eros eget augue tempor aliquet. In at lectus mauris. Maecenas cursus enim ut risus malesuada elementum. Vivamus justo magna, dapibus a pretium in, condimentum vehicula lacus. Etiam vitae tempor nisi, nec mollis magna. Sed id nulla fermentum, lobortis est eu, posuere ipsum. Donec vulputate lacus sed arcu faucibus, eget aliquet libero fringilla. Cras suscipit diam in leo rhoncus consectetur.

Donec varius massa felis, sit amet bibendum libero vulputate ac. Vestibulum gravida lacinia metus, malesuada laoreet mi porttitor ut. Aenean eget felis non augue hendrerit mattis non id lacus. Quisque ac nisl ultrices, tristique massa nec, bibendum est. Nulla sed viverra magna, quis luctus ex. Mauris ac nisl facilisis, fringilla urna ac, vestibulum orci. Mauris eget odio at arcu placerat ornare sit amet ut purus. Aliquam bibendum metus in felis dapibus interdum. Integer rutrum elit enim, in posuere diam ornare nec. Aenean vulputate eros id vestibulum semper. Ut fringilla purus eget laoreet iaculis. Ut laoreet risus ac mattis malesuada. Proin lobortis tortor a tristique rhoncus. Nullam tincidunt massa eu dignissim varius. Pellentesque sed varius erat. </p>
<br><hr><br>
<h2>Pellentesque gravida enim mauris</h2>
<p>Pellentesque gravida enim mauris. Cras massa elit, eleifend eu neque sed, faucibus porttitor ex. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer rhoncus, urna ac consectetur blandit, magna quam pharetra lorem, et blandit lectus mauris ut orci. Ut sed iaculis dui, vel venenatis lorem. Duis felis purus, commodo at tempor quis, placerat sed sapien. Nulla facilisi. Quisque tempor congue dolor nec venenatis. </p>
{% endblock content %}
